# Copia este archivo a ".env" y coloca la contraseña real.
# NO subas el .env a GitHub (ya está en .gitignore).

DB_USER=UsuarioEncuestas
DB_PASSWORD=CAMBIA_ESTA_CLAVE
DB_SERVER=svr-sql-ctezo.southcentralus.cloudapp.azure.com
DB_DATABASE=db_WebDevUMG
DB_PORT=1433

PORT=3000
